.body {
    margin: 0;
    font-family: "Times New Roman", sans-serif;
    background: #eaeaea;
}

.top-bar {
    background: #5398d3;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.form-input{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

.form-radio {
    display: block;
    margin: 10px 0;
    padding: 20px;
    width: 20px;
}

.form-button {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #005bb5;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    background-color: white;
}

.table th, .table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

.table th {
    background-color: #f0f0f0;
}
.table tr {
    background-color: #a8a8a8;

}

